*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Altone;
    cursor: none;
}

body::-webkit-scrollbar {
  width: 2vh;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #663399;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FFF;    /* color of the scroll thumb */
  border-radius: 2vh;       /* roundness of the scroll thumb */
  border: 3px solid #663399;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #FF4500;
  /*cursor: pointer;*/
  
}


.cursor {
    width: 50px;
    height: 50px;
    border: 1px dashed white;
    border-radius: 50%;
    position: absolute;
    animation: Anim1 1s infinite alternate;
  pointer-events: none;
}

.cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 7.5px;
    height: 7.5px;
    background: #FF4500;
    border-radius: 50%;
}

.expand {
    animation: Anim2 .5s;
    background: #FF4500;
    border: 1px solid #FF4500;
}
@keyframes Anim1 {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(0.7) rotate(190deg);
    }
}

@keyframes Anim2 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}


@font-face {
  font-family: "Altone";
  src: url(../font/AltoneTrial-Regular.ttf);
}
nav #deu{
  display: none;
}
nav{
    position: fixed;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 100vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;
}

nav a{
    color: #663399;
}
nav a:hover, nav #un a:hover{
    color: #FF4500;
    transition: 0.6s ease;
}

nav #un li a{
  position: fixed;
  left: 10vh;
  padding: 2vh;
  display: none;
  text-decoration: none;
  font-size: 5.5vh;
  color: #FFF;
}

.mid2:hover #un li a{
  display: block;
  
}
.top{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 7vh;
    color: white;
}
.mid1{
    width: 100%;
    height: 16.66vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 7vh;
}
.mid2{
    width: 100%;
    height: 16.66vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    overflow: hidden;
}
.mid3{
    width: 100%;
    height: 16.66vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 7vh;
}
.bas{
    width: 100%;
    height: 12.5vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 7vh;
    
}

nav i{
    
}

#contenu{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #FFF;
    background-color: #663399;

}

#sec1{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8vh;
    padding: 15vh;
}

#sec2{
    
    width: 100vw;
    height: 480vh;
    text-align: center;
    
}

#sec3{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vh;
    padding: 15vh;
}

h2{
  font-size: 10vh;
}

#sec2 img{
  width: 100%;
}
#sec2 video{
  width: 75%;
}
/*
#sec2 div{
  width: 25%;
  margin : 1%;
  display: inline-block;
  
}*/
#sec2 a{
  text-decoration: none;
  color: #FF4500;
  
}
#sec2 a:hover{
  text-decoration: none;
  color: #FFF;
  transition: 0.6s ease;
}

#ec1 .cent, #ec2 .cent, #ec3 .cent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  
}

.cent a{
  color: #FFF;
}

.cent a:hover{
  color: #FF4500;
  transition: 0.6s ease;
}

#ec2{
  height: 110vh;
}

#ec1, #ec3{
  height: 100vh;
}

#ec4{
  height: 180vh;
}
#ec4 #inte{
  height: 60vh;
  width: 125vh;
}

#ec1 div, #ec3 div div, #ec4 div{
  width: 25%;
  margin : 1%;
  display: inline-block;
}

#infomob{
  display: none;
}
#sec3 a{
  color: #FF4500;
}
#sec3 a:hover{
  color: #FFF;
  transition: 0.6s ease;
}
/*carou*/

.slideshow-container {
  max-width: 75vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  /*cursor: pointer;*/
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(102, 51, 153,0.8);
}

/* Caption text */
.texte {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  /*cursor: pointer;*/
  height: 2vh;
  width: 2vh;
  margin: 0 0.2vh;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FF4500;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  *{cursor: auto;}
  nav #un{display: none;}
  #infomob{display: block;}
  /*nav #deu li a{display: none;}*/
  nav{
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    bottom: 0px;
    left: 0px;
    height: 11vh;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 2vh;
    z-index: 1000;
    
    
  }
  nav #deu{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    bottom: 10vh;
    left: 0px;
    padding: 1vh;
    list-style: none;
    
  }
  
  nav #deu li{
    width: 25vw;
    height: 10vh;
  }

  nav #deu li a{
    width: 25vw;
    height: 10vh;
    display: none;
    text-decoration: none;
    font-size: 5.5vh;
    color: #FFF;
  }

  .mid2:hover #deu li a {
    display: block;
  }

  .top, .bas{
    display: none;
  }
  
  [class*="mid"]{
    display: inline-block;
    text-align: center;
    padding: 1vh;
    width: 30vw;
    height: 100%;
  }
  #sec1{
    text-align: center;
    font-size: 5vh;
    padding: 0vh;
  }
  #ec1 div, #ec2 div,#ec4 div{
    width: 75vw;
    flex-direction: column;
  }
  
  #ec2 #infomob{
    margin-left: 12.5vw;
    margin-right: 12.5vw;
  }
  
  #ec1 div a, #ec2 #infomob div, #ec3 div,#ec4 div{
    font-size: 5vw;
  }
  
  #ec1{
    height: 100vh;
  }
  #ec3{
    height: 130vh;
  }
  #ec3 .cent{
    display: flex;
    flex-direction: column;
    height: 110vh;
  }
  #ec3 div div{
    width: 100%;
  }
  #ec3 img{
    width: 75vw;
  }
  #ec3 #more,#ec4 #more{
    margin-top: 3.5vh;
  }
  #ec4{
    height: 140vh;
  }
  #ec4 #inte{
    width: 75vw;
    height: 50vw;
  }
  h2{
    font-size: 5vh;
  }
  #sec3{
    padding: 1vh;
    font-size: 2vh;
  }
  
  .slideshow-container, #dot {
  display: none;
  }
  
  
}

